*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}


.login{

    height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    padding: 10px;
    border-radius: 20px;
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.loginHeader{

  text-align: center;
}

.loginMain input{

height: 40px;
width: 50%;
margin-left: 25%;
margin-bottom: 10px;
border-radius: 20px;

font-size: 18px;
text-align: center;

}

.loginMain button{

  height: 50px;
  width: 20%;
  border-radius: 20px;
  margin-left: 40%;


}
.employeeHeader h1{

  text-align: center;

}